@{
    ViewData["Title"] = "Calendar";
}
<main role="main" class="pb-3">
    <button class="btn btn-default show-calendar" hidden>Show calendar</button>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <main class="calendar-contain">
                    <section class="title-bar">
                        <button class="title-bar__burger">
                            <span class="burger__lines">Toggle Menu</span>
                        </button>
                        <span class="title-bar__year"></span>
                        <div class="title-bar__controls">
                            <div class="title-bar__minimize"></div>
                            <div class="title-bar__maximize"></div>
                            <div class="title-bar__close"></div>
                        </div>
                    </section>

                    <aside class="calendar__sidebar">
                        <div class="sidebar__nav">
                            <!-- Icons by Icons8 -->
                            <span class="sidebar__nav-item mx-auto"><i class="fas fa-plus fa-lg"></i></span>
                            <span class="sidebar__nav-item mx-auto"><i class="fas fa-chart-line fa-lg"></i></span>
                            <span class="sidebar__nav-item mx-auto"><i class="fas fa-chart-bar fa-lg"></i></span>
                            <span class="sidebar__nav-item mx-auto" onclick="getCalendar(1)"><i class="fas fa-arrow-left fa-lg"></i></span>
                            <span class="sidebar__nav-item mx-auto" onclick="getCalendar(2)"><i class="fas fa-arrow-right fa-lg"></i></span>
                        </div>
                        <div class="sidebar__headinglist">
                            <h2 class="sidebar__heading"></h2>
                            <ul class="sidebar__list"></ul>
                        </div>
                    </aside>

                    <section class="calendar__days">
                        <section class="calendar__top-bar">
                            <span class="top-bar__days">Monday</span>
                            <span class="top-bar__days">Tuesday</span>
                            <span class="top-bar__days">Wednesday</span>
                            <span class="top-bar__days">Thursday</span>
                            <span class="top-bar__days">Friday</span>
                            <span class="top-bar__days">Saturday</span>
                            <span class="top-bar__days">Sunday</span>
                        </section>
                        <section class="days-week"></section>
                    </section>
                </main>
            </div>
            <div class="back chart-line">
                <section class="title-bar">
                    <button class="title-bar__burger">
                        <span class="burger__lines">Toggle Menu</span>
                    </button>
                    <span class="title-bar__year">Calendar &gt; April 2019</span>
                    <i class="far fa-calendar-alt fa-2x"></i>
                </section>
                <canvas id="myChart"></canvas>
            </div>
            <div class="back-hide gantt">
                <section class="title-bar">
                    <button class="title-bar__burger">
                        <span class="burger__lines">Toggle Menu</span>
                    </button>
                    <span class="title-bar__year">Calendar &gt; April 2019</span>

                    <i class="far fa-calendar-alt fa-2x"></i>
                </section>
                <div id="chart_div"></div>
            </div>
        </div>
    </div>


</main>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Time Tracker</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="font-weight-bold">&times;</span>
                </button>
            </div>

            <form class="modal-form" onsubmit="return false;">
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" hidden></div>
                    <div class="example-1">
                        <div class="form-group">
                            <label class="label">
                                <div class="imagePreview"></div>
                                <i class="material-icons">attach_file</i>
                                <span class="title">Добавить файл</span>
                                <input type="file">
                            </label>
                        </div>
                    </div>
                    <div class="md-form">
                        <input type="date" id="date" name="date" class="form-control" required>
                        <label for="date" class="input-active">Date</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="name" name="name" class="form-control" maxlength="30" list="datalist" required>
                        <label for="name" class="input-active">Name</label>

                        <div id="test" class="mx-auto d-flex-column">
                        </div>
                    </div>
                    <div class="md-form">
                        <input type="number" id="hours" name="hours" class="form-control" min="0" max="24" required>
                        <label for="hours" class="input-active">Hours</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="description" name="description" class="form-control" maxlength="100" required>
                        <label for="description" class="input-active">Description</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="id" name="id" hidden>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<button data-toggle="modal" data-target="#exampleModalCenter" hidden="hidden" id="modal"></button>

@section Scripts
{
    <script>
        $('.title-bar__controls').click(function () {
            $('.calendar-contain').hide(100);
            $('.show-calendar').removeAttr("hidden");
        });
        $('.show-calendar').click(function () {
            $('.calendar-contain').show(100);
            $('.show-calendar').attr("hidden", "hidden");
        });
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/config/config.js"></script>
    <script src="/js/config/navigation.js"></script>
    <script src="/js/config/variables.js"></script>
    <script src="/js/auth/auth.js"></script>
    <script src="/js/calendar.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/auth/login.js"></script>
    <script src="/js/auth/register.js"></script>
    <script src="/js/charts/chart.js"></script>
    <script src="/js/charts/gantt.js"></script>

 
}