@{
    ViewData["Title"] = "Login";
    var a = "asd";
}
<h2>Login</h2>
<div class="row">
    <div class="col-md-4">
        <section>

            <form class="login" onsubmit="return false;">
                <h4>Use a firebase account to log in.</h4>
                <div class="alert alert-danger" role="alert" hidden>
                </div>
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" class="form-control"/>
                    <span></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input name="password" type="password" class="form-control"/>
                    <span></span>
                </div>
                <div class="form-group">
                    <button class="btn stylish-color" onclick=loginEmail()><i class="far fa-envelope left"></i> Email</button>
                    <button class="btn red accent-5" onclick=login(1)><i class="fab fa-google left"></i> Google</button>
                    <button class="btn indigo darken-4" onclick=login(2) hidden><i class="fab fa-facebook left"></i> Facebook</button>
                    <button class="btn elegant-color" onclick=login(3)><i class="fab fa-github left"></i> Github</button>
                    <button class="btn blue" onclick=login(4)><i class="fab fa-microsoft left"></i> Microsoft</button>
                </div>
                <div class="form-group">
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts
{
    <script src="/js/config/config.js"></script>
    <script src="/js/auth/login.js"></script>
}