<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TimeTracker - @ViewData["Title"]</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/lib/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/lib/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/lib/mdbootstrap/css/style.min.css" rel="stylesheet">
    <link href="/css/Chart.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.min.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/calendar.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark primary-color mb-5">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">TimeTrackerToken</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Calendar</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/AllTasks">AllTasks</a>
                    </li>

                </ul>
                <div class="form-inline">
                    <div id="name" class=" md-form my-0 d-inline-flex">

                    </div>
                </div>
            </div>
            <!-- Collapsible content -->

        </nav>

    </header>
    <div class="container">
        @RenderBody()
    </div>


    <div id="chat">
        <div id="chatroom">
            <section id="chatroomSection">
            </section>
            <form id="inputForm" class="form-inline" autocomplete="off" onsubmit="return false;">
                <input type="text" class="form-control" id="message" />
                <button type="submit" class="btn btn-primary" id="sendBtn">Send</button>
            </form>
        </div>
    </div>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/lib/mdbootstrap/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/lib/mdbootstrap/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/lib/mdbootstrap/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/lib/mdbootstrap/js/mdb.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="/js/auth/logout.js"></script>
    <script src="/js/signalr.min.js"></script>
    @RenderSection("Scripts", false)

    <script src="/js/chat.js"></script>
</body>
    </html>
