<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TimeTracker</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/lib/mdbootstrap/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/lib/mdbootstrap/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.min.css" />

    <link href="~/css/calendar.min.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='/resources/tutorial/css/example.css'>
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark primary-color mb-5">

            <!-- Navbar brand -->
            <a class="navbar-brand" asp-area="" asp-controller="TimeTracker" asp-action="Index">TimeTracker</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="TimeTracker" asp-action="Index">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="TimeTracker" asp-action="Privacy">Privacy</a>
                    </li>
                    <!-- Dropdown -->
                    @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>*@

                </ul>
                <div class="form-inline">
                    <div class=" md-form my-0 d-inline-flex">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                            <button class="btn my-0 py-0 mx-2 text-white">@User.Identity.Name</button>
                            <form method="post" asp-controller="Account" asp-action="LogOff"><button class="btn my-0 py-0 mx-2 text-white" style="height: 26px;" type="submit">Logout</button></form>
                            }
                            else
                            {
                            <span class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </span>
                            <span class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </span>
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- Collapsible content -->

        </nav>



    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/lib/mdbootstrap/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/lib/mdbootstrap/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/lib/mdbootstrap/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/lib/mdbootstrap/js/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
